@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 600px;
  width: 400px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

body {
  height: 600px;
  width: 400px;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
  margin: 0px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;

}

.scroller-height {
  height: calc(100vh - 120px);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;

}

.tooltip-arrow {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6871F1
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525bdf;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-50px) rotate(-540deg);
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-50px) rotate(-540deg);
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}